#### https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [1]:
import pandas as pd
import numpy as np

### 2. How to create a series from a list, numpy array and dict?

In [6]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

x = pd.Series(mylist)
y = pd.Series(myarr)
z = pd.Series(mydict)
x, y, z

(0     a
 1     b
 2     c
 3     e
 4     d
 5     f
 6     g
 7     h
 8     i
 9     j
 10    k
 11    l
 12    m
 13    n
 14    o
 15    p
 16    q
 17    r
 18    s
 19    t
 20    u
 21    v
 22    w
 23    x
 24    y
 25    z
 dtype: object, 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 11    11
 12    12
 13    13
 14    14
 15    15
 16    16
 17    17
 18    18
 19    19
 20    20
 21    21
 22    22
 23    23
 24    24
 25    25
 dtype: int32, a     0
 b     1
 c     2
 e     3
 d     4
 f     5
 g     6
 h     7
 i     8
 j     9
 k    10
 l    11
 m    12
 n    13
 o    14
 p    15
 q    16
 r    17
 s    18
 t    19
 u    20
 v    21
 w    22
 x    23
 y    24
 z    25
 dtype: int64)

### 3. How to convert the index of a series into a column of a dataframe?

In [13]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# pd.DataFrame({'index':ser.index, '0':ser.values})
ser.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

### How to combine many series to form a dataframe?###

In [18]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

pd.concat([ser1, ser2], axis=1)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

### 5. How to assign name to the series’ index?

In [20]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "test"

ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: test, dtype: object

### 6. How to get the items of series A not present in series B?

In [25]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

set(ser1)-set(ser2) #python solution
ser1[~ser1.isin(ser2)] #pandas solution

{1, 2, 3}

### 7. How to get the items not common to both series A and series B?

In [65]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# a = ser1[~ser1.isin(ser2)]
a = set(ser1)-set(ser2)
b = set(ser2)-set(ser1)
pd.Series(list(a)+list(b)).sort_values()

0    1
1    2
2    3
4    6
5    7
3    8
dtype: int64

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [70]:
ser = pd.Series(np.random.normal(10, 5, 25))

ser.describe()

count    25.000000
mean      9.571773
std       4.638526
min       0.004158
25%       6.064606
50%       9.500166
75%      12.643018
max      18.614272
dtype: float64

### 9. How to get frequency counts of unique items of a series?